.header {
    text-align: center;
    align-items: center;
}

.header ul {
    text-align: center;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 400px;
    padding: 20px;
    gap: 150px;
    border-bottom: 2px solid rgb(168, 166, 166);
    width: 500px;
}

.header ul li{
    transition: all 0.4s;
}
.header ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    
}

.header ul li:hover{
    transform: scale(1.1);
}

.all{
    border-bottom: 2x solid blue;
    z-index: 1;
    
}