.todo-item{
    width: 600px;
    display: flex;
    margin: 30px 0px 30px 600px;
    background-color: rgb(235, 234, 234);
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
}

.check-card{
    background-color:  rgb(209, 208, 208);
}

.todo-item-title{
    display: flex;
    gap: 20px;
}

.todo-func{
    margin-top: 10px;
}

.title-todo{
    font-size: 24px;
    color:rgba(0, 0, 0, 0.87);
    padding-top:10px
}

.check-todo{
    text-decoration: line-through;
}